<!DOCTYPE html>
<html lang="en">
<head>
   {% include './includes/Head.njk' %}
   <title>Landing Changed</title>
</head>
<body>
<h1> Welcome to the page , This is {{ message }} </h1>    

{% include './includes/Scripts.njk' %}
</body>
</html>